<ul>
<% apps.each do |app| %>
    <li>
        <a href="/apps/<%= app[:name] %>"><%= app[:name] %></a>
        <form action="/apps/<%= app[:name] %>" method="post" style="display: inline-block">
            <input type="hidden" name="_method" value="PUT">
            <button>Deploy</button>
        </form>
    </li>
<% end %>
</ul>

<a href="/apps/create">Add new app</a>
