<a href="/apps/create" class="button">Add new app</a>

<% apps.each do |app| %>
    <div>
        <a href="/apps/<%= app[:name] %>"><%= app[:name] %></a>
        <form action="/apps/<%= app[:name] %>" method="post" style="display: inline-block">
            <input type="hidden" name="_method" value="PUT">
            <button>Deploy</button>
        </form>
    </div>
<% end %>
