<div id="app">
    <nav>
        <ul>
            <li class="active">Application settings</li>
            <li>Environment variables</li>
        </ul>
    </nav>

    <form action="/apps/<%= app.name %>" method="POST" class="content app-form pretty-form">
        <input type="hidden" name="_method" value="PATCH">
        <%= erb :'_app_form', layout: false, locals: { app: app, ruby_versions: ruby_versions } %>

        <button type="submit" class="button">Update</button>
    </form>
</div>
