<div id="app">
    <nav>
        <ul>
            <li class="active">Application settings</li>
            <li>Environment variables</li>
        </ul>
    </nav>

    <form action="/apps" method="POST" class="content app-form pretty-form">
        <%= erb :'_app_form', layout: false, locals: { app: app, ruby_versions: ruby_versions, errors: errors } %>

        <button type="submit" class="button add">Create</button>
    </form>
</div>
