<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Hob</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>
<body>
    <%= yield %>
</body>
</html>
