<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Hob</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>
<body>
    <header class="main">
        <nav>
            <ul>
                <li><a href="/">Apps</a></li>
                <% if current_user.admin? %>
                <li><a href="/users">Users</a></li>
                <% end %>
            </ul>
        </nav>
        <h1><%= Hob::World.hostname %></h1>
        <div class="user">
            <span class="name"><%= current_user.name %></span>
            <a href="/logout" class="logout" title="logout">&#xf08b;</a>
        </div>
    </header>

    <%= yield %>
</body>
</html>
