<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Hob</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>
<body>
    <header class="main">
        <nav>
            <ul>
                <li><a href="/apps">Apps</a></li>
                <li><a href="/users">Users</a></li>
            </ul>
        </nav>
    </header>

    <%= yield %>
</body>
</html>
