<form class="login_form" action="/login" method="post">
    <div class="inputs">
        <input type="text" name="username" placeholder="Login">
        <input type="password" name="password" placeholder="Password">
    </div>

    <button class="button login">Login</button>
</form>
