.app-env-form {
  ul {
    margin: 0;
    padding: 0;

    list-style: none;

    li {
      margin-bottom: 10px;
    }
  }

  .inline-button {
    display: inline-block;

    button {
      padding: 7px;

      font-size: 13px;
    }
  }
}
