.app-form {
  .form-group {
    margin-bottom: 1em;
  }

  input[type="text"], textarea {
    width: 100%;
  }

  textarea {
    font-family: monospace;

    color: #646280;

    background-color: #f7f8f9;
  }

  button {
    width: 300px;
  }
}
