.app-action-show {
  width: 80%;

  margin: 20px auto;

  font-size: 14px;

  color: #687689;

  .user, .revision, .date, .number, .started, .duration {
    &::before {
      @include icon-font;
      margin-right: 4px;
    }
  }

  .user::before { content: '\f21b'; }
  .git::before { content: '\f1d2'; }
  .github::before { content: '\f09b'; }
  .date::before { content: '\f073'; }
  .number::before { content: '\f115'; }
  .started::before { content: '\f017'; }
  .duration::before { content: '\f0e4'; }

  .action {
    padding: 5px 10px;

    border: 1px solid;
    border-bottom: 3px solid;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    div:first-child { padding-bottom: 5px; }

    .app, .user {
      display: inline-block;
      width: 28%;
    }

    .revision {
      margin-right: 4%;
      color: #687689;

      text-decoration: none;
    }

    a.revision span {
      text-decoration: underline;
    }

    .date, .finished {
      margin-right: 14px;
    }

    .app {
      font: {
        size: 18px;
        weight: bold;
      }
    }

    .type {
      float: right;
      display: inline-block;

      padding: 2px 4px;

      border: 1px solid;
      border-radius: 3px;

      font-size: 16px;
    }

    &.success {
      border-color: lighten(#539474, 15%);

      background-color: #ebf6f1;

      .type, .app, .user {
        color: #539474;
      }

      .type {
        border-color: #a0c9b5;
      }
    }

    &.fail {
      border-color: lighten(#c94050, 5%);

      background-color: #f7e6e9;

      .type, .app, .user {
        color: #c94050;
      }

      .type {
        border-color: #e89ba8;
      }
    }

    &.running {
      border-color: #707e93;

      background-color: #edf0f5;

      .app { color: #687689; }

      .type {
        border-color: #a1adc2;
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;

    list-style: none;

    li {
      width: 100%;

      .info::before {
        display: inline-block;
        @include icon-font;

        width: 14px;
        margin-right: 2px;
      }

      &.success .info::before {
        content: '\f00c';
        color: #539474;
      }

      &.fail .info::before {
        content: '\f00d';
        color: #c94050;
      }

      &:nth-child(odd) .info {
        background-color: #edf0f5;
      }

      &:nth-child(even) .info {
        background-color: #fafcff;
      }

      &.opened .log {
        display: block;
      }
    }

    .info {
      padding: 4px;

      .additional {
        float: right;
      }

      .status {
        display: inline-block;
        width: 3em;

        text-align: right;
      }
    }

    .log {
      display: none;

      padding: 5px;
      font-family: monospace;

      background-color: #314752;
      color: #9cb9c8;
    }
  }
}
