.app-show {
  header {
    display: flex;

    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    padding: 10px;

    border-bottom: 1px solid #c7cbd9;

    background-color: #dddfe7;

    h2 {
      display: inline-block;
      margin: 0 8px 0 0;

      color: #63669e;
    }

    .name, .info, .actions {
      flex: 1;
    }

    .edit {
      color: #707e94;
      text-decoration: none;

      &::before {
        @include icon-font;
        margin-right: 4px;
        content: '\f085';
      }
    }

    .repo {
      margin-right: 5px;

      font-size: 14px;
      color: #4d4d4d;
      text-decoration: none;

      &::before {
        @include icon-font;
        margin-right: 2px;
      }

      span {
        text-decoration: underline;
      }

      &.github::before { content: '\f09b'; }

      &.git::before { content: '\f1d3'; }
    }

    .branch {
      font-size: 14px;
      color: #4d4d4d;

      &::before {
        @include icon-font;
        margin-right: 2px;
        content: '\f126';
      }
    }

    .actions {
      text-align: right;

      form {
        display: inline-block;
      }

      .button {
        padding: 8px 10px 5px;
      }
    }
  }
}
