#app {
  nav {
    padding: 20px 10px;

    font-size: 14px;

    ul {
      margin: 0;
      padding: 0;

      list-style: none;

      li {
        margin-bottom: 8px;
      }

      li, li a {
        color: #93a1b6;
      }

      li.active, li.active a {
        color: #5d97e2;
      }
    }
  }
}
